
.fast{
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-fill-mode:both
  ;animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#themecolors .selector:hover{
  -webkit-box-shadow:0 1px 5px 0 #000;
  -moz-box-shadow:0 1px 5px 0 #000;
  box-shadow:0 1px 5px 0 #000;
  transition: 0.4s;
}

#themecolors:hover .selector:not(:hover){
  opacity:.35;
  -webkit-box-shadow:0 1px 1px 0 #000;
  -moz-box-shadow:0 1px 1px 0 #000;
  box-shadow:0 1px 1px 0 #000;
  transition: 0.4s;
}

#google-btn{
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-avatar{
  width: 200px;
  border-radius: 100%;
}

.w100{
  width: 100px;
}

.w150{
  width: 150px;
}

.avatar{
  width: 25px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
